<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CairoSharp" version="3.22.24.10" targetFramework="net462" />
  <package id="GdkSharp" version="3.22.24.10" targetFramework="net462" />
  <package id="GioSharp" version="3.22.24.10" targetFramework="net462" />
  <package id="GLibSharp" version="3.22.24.10" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net461" />
  <package id="PangoSharp" version="3.22.24.10" targetFramework="net462" />
</packages>